<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.riemann.springbootdemo.dao.EasyExcelDao" >
    <sql id="BASE_TABLE">
      easy_excel_data
    </sql>

    <sql id="BASE_COLUMN">
      name,sex,age,address,phone
    </sql>

    <insert id="saveEasyExcelMappingData" parameterType="com.riemann.springbootdemo.model.EasyExcelData">
        <selectKey keyProperty="pid" resultType="long">
            select LAST_INSERT_ID()
        </selectKey>
        INSERT INTO
        <include refid="BASE_TABLE"/>
        (
            name,sex,age,address,phone
        )
        VALUES
        <foreach collection="ueeDatas" item="ueeDatas" separator=",">
        (
            #{ueeDatas.name, jdbcType=VARCHAR},
            #{ueeDatas.sex, jdbcType=INTEGER},
            #{ueeDatas.age, jdbcType=VARCHAR},
            #{ueeDatas.address, jdbcType=INTEGER},
            #{ueeDatas.phone, jdbcType=VARCHAR}
        )
        </foreach>

    </insert>

    <select id="selectAll" resultType="com.riemann.springbootdemo.model.EasyExcelData">
        select * from easy_excel_data
    </select>

    <insert id="uploadFileFromJson" parameterType="com.riemann.springbootdemo.model.EasyExcelData">
        <selectKey keyProperty="pid" resultType="long">
            select LAST_INSERT_ID()
        </selectKey>
        INSERT INTO
        <include refid="BASE_TABLE"/>
        (
        name,sex,age,address,phone
        )
        VALUES
        <foreach collection="eeDataList" item="eeDataList" separator=",">
            (
            #{eeDataList.name, jdbcType=VARCHAR},
            #{eeDataList.sex, jdbcType=INTEGER},
            #{eeDataList.age, jdbcType=VARCHAR},
            #{eeDataList.address, jdbcType=INTEGER},
            #{eeDataList.phone, jdbcType=VARCHAR}
            )
        </foreach>

    </insert>

</mapper>
